section.about#about
	.container.about__container
		.row
			.col-lg-6
				.about__wrap-img
					img.about__img(src="static/img/general/about__img.png" alt="about-img")
			.col-lg-6
				.about__wrap-text
					span.about__title Some words 
						span.about__title_bold about us
					p.about__text We love building and rebuilding brands through our  specific skills. Using colour, fonts, and illustration, we brand companies in a way they will never forget.
					ul.about__list
						li.about__item Mission - 
							span.about__item_italic We deliver uniqueness and quality
						li.about__item Skills -
							span.about__item_italic Delivering fast and excellent results
						li.about__item Clients -
							span.about__item_italic Satisfied clients thanks to our experience
					a(href="javascript:void(0);").about__link Browse our work