section.clients
	.container
		.row
			.col-lg-12
				h2.clients__title.title.title__white SOME OF 
					span.title__bold OUR CLIENTS
		.row
			.clients__slider
				.js-slider__clients
					.col-lg-2
						+img-clients('chanel', 'http://www.chanel.com/ru_RU/')
					.col-lg-2
						+img-clients('zara', 'https://www.zara.com/ru/')
					.col-lg-2
						+img-clients('guerlain', 'https://www.guerlain.com/ru/ru')
					.col-lg-2
						+img-clients('lancome', 'https://lancome.ru/')
					.col-lg-2
						+img-clients('lacoste', 'https://shop.lacoste.ru/')
					.col-lg-2
						+img-clients('chanel', 'http://www.chanel.com/ru_RU/')
					.col-lg-2
						+img-clients('zara', 'https://www.zara.com/ru/')
					.col-lg-2
						+img-clients('guerlain', 'https://www.guerlain.com/ru/ru')
					.col-lg-2
						+img-clients('lancome', 'https://lancome.ru/')
					.col-lg-2
						+img-clients('lacoste', 'https://shop.lacoste.ru/')
					.col-lg-2
						+img-clients('chanel', 'http://www.chanel.com/ru_RU/')
					.col-lg-2
						+img-clients('zara', 'https://www.zara.com/ru/')
					.col-lg-2
						+img-clients('guerlain', 'https://www.guerlain.com/ru/ru')
					.col-lg-2
						+img-clients('lancome', 'https://lancome.ru/')
					.col-lg-2
						+img-clients('lacoste', 'https://shop.lacoste.ru/')
