section.contact#contact
	.container.contact__container
		.row.contact__header
			.col-lg-12
				h2.title feel free to 
					span.title__bold contact us
				p.text__italic Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
		form(action="mail.php" method="post").contact__form
			.row.contact__form_row
				.col-lg-6
					label(for="name").contact__form_label Name
					input(type='text' name="name" id='name' required).contact__form_input
				.col-lg-6
					label(for="email").contact__form_label Email address
					input(type='email' name="email" id='email' required).contact__form_input
			.row.contact__form_row
				.col-lg-12
					label(for="message").contact__form_label Message
					textarea(name="message" id="message" required).contact__form_textarea
			.row.contact__form_row
				.col-lg-12
					input(type='submit' value='send').contact__form_submit