footer.footer
	.container
		.row
			.footer__blocks
				.footer__block1
					.col-sm-6.col-xs-12
						span.footer__copyright ALL RIGHTS RESERVED. COPYRIGHT © 2014 
							span.footer__copyright_bold SPIRIT8
				.footer__block2
					.col-sm-6.col-xs-12
						.footer__social
							a.footer__social_link.footer__social_facebook
							a.footer__social_link.footer__social_twitter
							a.footer__social_link.footer__social_google
							a.footer__social_link.footer__social_linkedin
							a.footer__social_link.footer__social_dribbble