header.header#header
	.container
		.row
			.col-lg-3
				a(href="javascript:void(0);").header__logo
					span Spirit8
			.col-lg-9
				nav.header__nav
					ul.header__list
						a(href="javascript:void(0);").header__link.active
							li.header__item Home
						a(href="#about").scroll-link.header__link
							li.header__item About
						a(href="#services").scroll-link.header__link
							li.header__item SERVICES
						a(href="#portfolio").scroll-link.header__link
							li.header__item portfolio
						a(href="#testimonials").scroll-link.header__link
							li.header__item testimonials
						a(href="#contact").scroll-link.header__link
							li.header__item CONTACT