section.portfolio#portfolio
	.container
		.row.portfolio__header
			.col-lg-12
				h2.title take a look at 
					span.title__bold our work
				p.text__italic Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
		.row.portfolio__wrap-filter
			.col-md-6.col-sm-4
				span.portfolio__title-filter Filter by type
			.col-md-6.col-sm-8
				nav.portfolio__filter#flavor-nav
						a(rel='all' class='current').portfolio__filter_radio All
						a(rel='web').portfolio__filter_radio Web design
						a(rel='mobile').portfolio__filter_radio Mobile design
						a(rel='photograpy').portfolio__filter_radio Photograpy
		.row
			.portfolio__wrap#all-flavors
					+img-portfolio('web')
					+img-portfolio('web')
					+img-portfolio('web')
					+img-portfolio('web')
					+img-portfolio('photograpy')
					+img-portfolio('photograpy')
					+img-portfolio('photograpy')
					+img-portfolio('photograpy')
					+img-portfolio('mobile')
					+img-portfolio('mobile')
					+img-portfolio('mobile')
					+img-portfolio('mobile')
