section.services#services
	.container
		.row
			col-lg-12
				h2.title take a look at 
					span.title__bold our services
				p.text__italic Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
		.row
			.services__slider
				.js-slider__services
					.col-lg-3.services__slider_col
						.services__slider_img.services__slider_img-web
						h3.services__slider_title Web design
						p.services__slider_text The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
					.col-lg-3.services__slider_col
						.services__slider_img.services__slider_img-mobile
						h3.services__slider_title Mobile apps
						p.services__slider_text The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
					.col-lg-3.services__slider_col
						.services__slider_img.services__slider_img-photography
						h3.services__slider_title PHOTOGRAPHY
						p.services__slider_text The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
					.col-lg-3.services__slider_col
						.services__slider_img.services__slider_img-marketing
						h3.services__slider_title marketing
						p.services__slider_text The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.