section.team
	.container
		.row
			.col-lg-12
				h2.team__title.title.title__white Meet 
					span.title__bold our team
		.row
			.team__slider.slider__wrap
				.slider__arrow.team__arrow-prev
				.slider__arrow.team__arrow-next
				.js-slider__team
					.col-lg-3
						+slide-team('static/img/content/man.png', 'Jason Statham', 'Knife designer', 'Do not seek to change what has come before. Seek to create that which has not.')
					.col-lg-3
						+slide-team('static/img/content/man.png', 'Van Damme', 'No English', 'Do not seek to change what has come before. Seek to create that which has not.')
					.col-lg-3
						+slide-team('static/img/content/man.png', 'Sylvester Stallone', 'Cigar Lover', 'Do not seek to change what has come before. Seek to create that which has not.')
					.col-lg-3
						+slide-team('static/img/content/man.png', 'Jet Li', 'I need more money', 'Do not seek to change what has come before. Seek to create that which has not.')
					.col-lg-3
						+slide-team('static/img/content/man.png', 'Jason Statham', 'Knife designer', 'Do not seek to change what has come before. Seek to create that which has not.')
					.col-lg-3
						+slide-team('static/img/content/man.png', 'Van Damme', 'No English', 'Do not seek to change what has come before. Seek to create that which has not.')
					.col-lg-3
						+slide-team('static/img/content/man.png', 'Sylvester Stallone', 'Cigar Lover', 'Do not seek to change what has come before. Seek to create that which has not.')
					.col-lg-3
						+slide-team('static/img/content/man.png', 'Jet Li', 'I need more money', 'Do not seek to change what has come before. Seek to create that which has not.')
					.col-lg-3
						+slide-team('static/img/content/man.png', 'Jason Statham', 'Knife designer', 'Do not seek to change what has come before. Seek to create that which has not.')
					.col-lg-3
						+slide-team('static/img/content/man.png', 'Van Damme', 'No English', 'Do not seek to change what has come before. Seek to create that which has not.')
					.col-lg-3
						+slide-team('static/img/content/man.png', 'Sylvester Stallone', 'Cigar Lover', 'Do not seek to change what has come before. Seek to create that which has not.')
					.col-lg-3
						+slide-team('static/img/content/man.png', 'Jet Li', 'I need more money', 'Do not seek to change what has come before. Seek to create that which has not.')