section.testimonials#testimonials
	.container
		.row
			.col-lg-12
				h2.testimonials__title.title.title__white our clients’ 
					span.testimonials__title_light testimonials
		.row
			.testimonials__slider
				.js-slider__testimonials
					.col-lg-12
						.testimonials__slider_slide
							span.testimonials__slider_text This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
							span.testimonials__slider_author Dean Martin, 
								span.testimonials__slider_post CEO Acme Inc.
					.col-lg-12
						.testimonials__slider_slide
							span.testimonials__slider_text This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
							span.testimonials__slider_author Dean Martin, 
								span.testimonials__slider_post CEO Acme Inc.
					.col-lg-12
						.testimonials__slider_slide
							span.testimonials__slider_text This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
							span.testimonials__slider_author Dean Martin, 
								span.testimonials__slider_post CEO Acme Inc.

