section.top-banner#top-banner
	.container.top-banner__container
		.row
			.col-lg-12
				span.top-banner__title welcome on 
					span.top-banner__title_bold spirit8
				span.top-banner__descr We are a digital agency with 
					span.top-banner__descr_bold years of experience 
					| and with 
					span.top-banner__descr_bold extraordinary people
	.top-banner__arrow
		a(href="#").scroll-down.top-banner__arrow_link