extends ../layout/main

block title
	| Главная страница

block content
	include ../modules/top-banner
	include ../modules/about
	include ../modules/services
	include ../modules/portfolio
	include ../modules/testimonials
	include ../modules/contact