extends ../layout/main

block title
	| Главная страница

block content
	include ../modules/top-banner
	include ../modules/about
	include ../modules/team
	include ../modules/services
	include ../modules/clients
	include ../modules/portfolio
include ../mixins/mixin