html {
	line-height: 1;
	font-size: 14px;
}

body {
	font-family: $mainFont;
	color: $mainColor;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	text-transform: uppercase;
	color: $colorTitleDark;
	text-align: center;
}

.title {
	font-size: 2.75rem;
	font-family: $fontTitleLight;
	color: $colorTitleDark;
	position: relative;
	margin-bottom: 91px;
	font-weight: 300;
	&:before {
		content: '';
		display: block;
		width: 99px;
		height: 5px;
		background: $bgOrange;
		position: absolute;
		bottom: -25px;
		left: 50%;
		transform: translateX(-50%);
	}
	&:after {
		content: '';
		display: block;
		background: $bgTitleLine;
		width: 67px;
		height: 5px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -44px;
	}
	&__white {
		color: $colorTitleWhite;
	}
	&__bold {
		font-family: $fontTextSemiBold;
		font-weight: 600;
	}
}

ul,li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

p {
	margin: 0;
}

.text {
	&__italic {
		font-family: $fontTextItalic;
		font-size: 1rem;
		line-height: 1.5;
		text-align: center;
		font-style: italic;
	}
}

a {
	font-family: $mainFont;
	color: $mainColor;
	cursor: pointer;
    text-decoration: none;
	&:hover,
	&:focus,
	&:visited {
		color: $mainColor;
		text-decoration: none;
		outline: none; 
	}
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

textarea {
	resize: none;
}

section {
	position: relative;
}

input,
select,
button {
	outline: none;
	
}

*, *:before, *:after {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

.hide {
	display: none;
}

.show {
	display: block;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

*::-webkit-input-placeholder {
	opacity: 1;
}
*:-moz-placeholder {
	opacity: 1;
}  
*::-moz-placeholder {
	opacity: 1;
}
*:-ms-input-placeholder {
	opacity: 1;
}