$s-about__icon-btn: 112px 70px -112px -70px 14px 12px 221px 172px 'sprite.png';
$s-about__list: 142px 94px -142px -94px 14px 15px 221px 172px 'sprite.png';
$s-dribbble: 190px 47px -190px -47px 31px 31px 221px 172px 'sprite.png';
$s-facebook: 190px 93px -190px -93px 31px 31px 221px 172px 'sprite.png';
$s-google: 190px 0px -190px 0px 31px 32px 221px 172px 'sprite.png';
$s-header__btn-menu: 142px 47px -142px -47px 32px 32px 221px 172px 'sprite.png';
$s-left-arrow-black: 0px 140px 0px -140px 32px 32px 221px 172px 'sprite.png';
$s-left-arrow: 47px 140px -47px -140px 32px 32px 221px 172px 'sprite.png';
$s-linkedin: 190px 139px -190px -139px 31px 31px 221px 172px 'sprite.png';
$s-right-arrow-black: 94px 140px -94px -140px 32px 32px 221px 172px 'sprite.png';
$s-right-arrow: 141px 140px -141px -140px 32px 32px 221px 172px 'sprite.png';
$s-services__marketing: 0px 70px 0px -70px 48px 55px 221px 172px 'sprite.png';
$s-services__mobile: 63px 70px -63px -70px 34px 55px 221px 172px 'sprite.png';
$s-services__photography: 70px 0px -70px 0px 57px 47px 221px 172px 'sprite.png';
$s-services__web: 0px 0px 0px 0px 55px 55px 221px 172px 'sprite.png';
$s-top-banner__arrow: 112px 97px -112px -97px 11px 12px 221px 172px 'sprite.png';
$s-twitter: 142px 0px -142px 0px 33px 32px 221px 172px 'sprite.png';
