$s-about__icon-btn: 112px 100px -112px -100px 14px 12px 153px 125px 'sprite.png';
$s-about__list: 112px 70px -112px -70px 14px 15px 153px 125px 'sprite.png';
$s-services__marketing: 0px 70px 0px -70px 48px 55px 153px 125px 'sprite.png';
$s-services__mobile: 63px 70px -63px -70px 34px 55px 153px 125px 'sprite.png';
$s-services__photography: 70px 0px -70px 0px 57px 47px 153px 125px 'sprite.png';
$s-services__web: 0px 0px 0px 0px 55px 55px 153px 125px 'sprite.png';
$s-top-banner__arrow: 142px 0px -142px 0px 11px 12px 153px 125px 'sprite.png';
