$s-about__icon-btn: 29px 0px -29px 0px 14px 12px 43px 42px 'sprite.png';
$s-about__list: 0px 0px 0px 0px 14px 15px 43px 42px 'sprite.png';
$s-top-banner__arrow: 0px 30px 0px -30px 11px 12px 43px 42px 'sprite.png';
