// FONTS
$mainFont: "OpenSansRegular", sans-serif;
$fontHeader: "LatoBold", sans-serif;
$fontTitleLight: "OpenSansLight", sans-serif;
$fontTitleBold: "OpenSansBold", sans-serif;
$fontTextBold: "OpenSansBold", sans-serif;
$fontTextItalic: "OpenSansItalic", sans-serif;
$fontTextSemiBold: "OpenSansSemiBold", sans-serif;

// COLOR
$mainColor: #6c6c6c;
$colorHeader: #fff;
$colorAboutList: #5a5a5a;

// BG
$bgHeader: #080808;
$bgTopBanner: #080808;