// FONTS
$mainFont: "OpenSansRegular", sans-serif;
$fontHeader: "LatoBold", sans-serif;
$fontTitleLight: "OpenSansLight", sans-serif;
$fontTitleBold: "OpenSansBold", sans-serif;
$fontTextBold: "OpenSansBold", sans-serif;
// COLOR
$colorHeader: #fff;

// BG
$bgHeader: #080808;
$bgTopBanner: #080808;