.team,
.clients,
.testimonials {
	.slick-dots {
		bottom: -83px;
		li {
			width: 9px;
			height: 9px;
			margin: 0 6.5px;
			&.slick-active {
				button {
					background-color: $bgOrange;
				}
			}
			button {
				background-color: white;
				width: 9px;
				height: 9px;
				&:before {
					width: 9px;
					height: 9px;
				}
			}
		}
	}
	&__arrow-prev {
		@include sprite($s-left-arrow);
	}
	&__arrow-next {
		@include sprite($s-right-arrow);
		right: 0;
	}
}

.slick-slide img {
    margin: 0 auto;
}

.slider {
	&__wrap {
		position: relative;
	}
	&__arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 99;
	}
}

.popup {
	position: relative;
	&__img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}