.header {
	font-family: $fontHeader;
	text-transform: uppercase;
	color: $colorHeader;
	background: $bgDark;
	padding: 57px 0;
	box-sizing: padding-box;
	&__logo {
		font-size: 24px;
		color: $colorHeader;
	}
	&__link {
		margin-left: 25px;
		float: left;
		color: $colorHeader;
		position: relative;
		line-height: 1.714;
		&:first-child {
			margin: 0;
		}
		&:focus,
		&:hover,
		&:visited {
			color: $colorHeader;
		}
		&.active {
			&:before {
				content: '';
				display: inline-block;
				position: absolute;
				width: 50%;
				height: 3px;
				background: #292929;
				bottom: -21px;
				left: -25%;
				transform: translateX(50%);
			}
			&:after {
				content: '';
				display: inline-block;
				position: absolute;
				width: 50%;
				height: 3px;
				background: $bgOrange;
				bottom: -21px;
				left: 75%;
				transform: translateX(-50%);
			}
		}
	}
}
#header-fixed {
	height: 50px;
	&.fixed {
		position: fixed;
		top: 0;
		z-index: 999;
		width: 100%;
		background: $bgNavFixed;
		padding: 1px;
	}
}
	